<div class="container">
  <div class="row">
    <div class="col-md-12">
      Редактирования профиля
    </div>
    <div class="col-md-12">
      <%= render 'form', nursemaid: @nursemaid %>
    </div>
  </div>
</div>