<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>new nanny</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form', nursemaid: @nursemaid %>
    </div>
  </div>
</div>