<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с Вами, чтобы уведомить вас о том, что ваша Электронная почта изменяется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с Вами, чтобы уведомить вас о том, что ваша Электронная почта была изменена на <%= @resource.email %>.</p>
<% end %>
