<p>Здравствуйте, <%= @resource.email %>!</p>

<p>От вас пришел запрос смены пароля. Можете сменить пароль пройдя по ссылке ниже:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля просто игнорируйте это письмо.</p>
<p>Ваш пароль не измениться пока вы не пройдете по ссылке и не измените его.</p>
