<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за большого количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
